<div class="w-75 mx-auto">
    <p class="fs-1">Register</p>
    {{#if registerError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{registerError}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
  <form action="/register" method="post">
  <div class="d-flex gap-3">
    <div class="mb-3 w-50">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 w-50">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastname" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
  </div>
  <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>